.resume-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    top: 40%;
    text-decoration: none;
    width: 18rem;
    height: 5rem;
    font-size: 2.5rem;
    font-weight: 300;
    padding: 3rem 8rem;
    background: black;
    border: 1px solid var(--purple);
    border-radius: 20px;
    color: white;
    cursor: pointer;
    transition: box-shadow 0.25, background-color 0.25s;
}

.resume-btn:hover,
.resume-btn:active {
    background-image: none;
    box-shadow: 0 0 50px 1px var(--purple);
}

@media (max-width: 700px) {
    .resume-btn {
        font-size: 2rem;
        padding: 2rem 6rem;
    }
}